* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #EFFFF4;
}

nav {
    height: 50px;
    background-color: white;
    text-align: end;
    padding: 15px;
    padding-right: 50px;
}
#user-nombre{
    margin-left: 0;
}
nav ul {
    list-style: none;    
}
nav ul li a {
    margin-left: 44px;
}

a {
    text-decoration: none;
}

.btn {
    background-color: #59B661;    
    height: 40px;
    border-radius: 22px;
    padding: 11px;
    color: white;    
    
}

.cont {    
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border: 2px solid whitesmoke;
    background-color: white;
    border-radius: 22px;
    gap: 1em;
    
}
h3{
    text-align: center;
    color: #59B661;
    font-size: 26px;
    margin-bottom: 20px;
}
.inpt-reg{
    margin-bottom:20px;
    font-size: 20px;
    font-weight: 600;
}
button{
    background-color: hsl(125, 39%, 53%);    
    height: 30px;
    border-radius: 22px;    
    color: white;
    font-size: 20px;
    line-height: 30px;
    border: none;
    width: 110px;

}
#agendar{
    margin-top: 20px;
    width: 105px;
}
#datetime-local{
    font-size: 20px;
}
.calendar {
    width: 450px;
    height: 350px;
    margin-bottom: 20px;
    font-size: 20px;
    /* margin-left: 142px;
    margin-top: 10px; */
}