* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #EFFFF4;
}
.encabezado{
    display: grid;
    grid-template-columns: 50% 50%;
}
#principal{
    text-align: left;
}

nav {
    height: 50px;
    background-color: white;
    text-align: end;
    padding: 15px;
    padding-right: 50px;
}
nav ul {
    list-style: none;
}
a {
    text-decoration: none;
}
#Bienvenido{
    display: grid;
    grid-template-columns: 70% 30%;
}
#Bienvenido-izq{
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
}
#Bienvenido-der{
    text-align: left;    
    font-weight: bold;
}

.btn {
    background-color: #59B661;
    position: absolute;
    height: 40px;
    border-radius: 22px;
    padding: 11px;
    color: white;
}

#s-cita {
    margin-top: 44px;
    margin-left: 30px;
    width: 129px;
    text-align: center;
}


.user {
    position: absolute;
    margin: auto;
    margin-top: 112px;
    width: 600px;
    margin-left: 30px;
    height: 220px;
    background-color: white;
    border-radius: 22px;
    border-width: 1px;
    border: solid;
    padding-left: 20px;
}
.historiaClinica {
    position: absolute;
    display: grid;
    grid-template-rows: 50px 50px 120px;
    margin: auto;
    margin-top: 112px;
    width: 700px;
    margin-left: 700px;
    height: 220px;
    background-color:white;
    border-radius: 22px;
    border-width: 1px;
    border: solid;
    padding-left: 20px;
}
#l2{
    font-weight: bold;
}
#l2, #l3{
    display: grid;
    grid-template-columns: 30% 70%;
}

.img-user {
    position: absolute;
    background: whitesmoke;
    width: 170px;
    height: 170px;
    margin-top: 21px;
    margin-left: 20px;
    border-radius: 22px;
}

.user #name {
    margin-top: 21px;
    font-size: 26px;
    font-weight: 600;
}
#phone, #emailLogo{
    width: 20px;
    height: 20px;
}


.user #edad, #sexo, #telefono, #email, #date{
    margin-top: 12px;
}
.user #telefono, #email{
    display: grid;
    grid-template-columns: 30px 150px;
}

.tags {
    position: absolute;
    margin-top: 25px;    
}
.tags p {
    background: rgba(60, 198, 99, 0.1);
    border-radius: 18px;
}
.linea {
    border: 1px solid #C6C5C5;    
}



--------------- Izq ----------------
.left {
    position: absolute;
    margin-left: 60px;
}

.soft {
    font-size: 14px;
    color: #C4C4C4;
}

/* ---------------- Derch ------------*/
.right {
    position: absolute;
    margin-left: 50%;
    margin-top: 10px;
}
/* .map {
    /* position: absolute; */
    width: 310px;
    height: 100px;
    background-color: #F1F1F1;
} */
/* .full-screen {
    position: absolute;
    border-radius: 22px;
    background-color: #3CC663;
    text-align: center;
    margin-left: 15%;
    width: 70%;
    top: 88px;
    color: white;
} */


/* 
.doctor {
    position: absolute;
    height: 214px;
    background: white;
    margin-top: 475px;
    margin-left: 30px;
    background-color: white;
    border-radius: 22px;
} */

.doctor .btn{
    margin-left: 635px;
}

p#esp {
    color: #3CC663;
}

.historiaClinica p {
    margin-top: 20px;
}
.tittle {
    margin-top: 10px;
    margin-right: 20px;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    border-bottom: 1px;
    border: solid;
    padding-right: 20px;
}
.historiaCitas {
    position: absolute;
    display: grid;
    grid-template-rows: 50px 50px 125px;
    margin: auto;
    margin-top: 370px;
    margin-left: 30px;
    width: 96%;
    height: 225px;
    background-color:white;
    border-radius: 22px;
    border-width: 1px;
    border: solid;
    padding-left: 20px;
}
#linea2{
    font-weight: bold;
}
#linea2, #linea3{
    display: grid;
    grid-template-columns: 20% 20% 30% 30%;   
}
