* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #EFFFF4;
}

nav {
    height: 50px;
    background-color: white;
    text-align: end;
    padding: 15px;
    padding-right: 50px;
}
nav ul {
    list-style: none;
}
a {
    text-decoration: none;
}

.btn {
    background-color: #59B661;
    position: absolute;
    height: 40px;
    border-radius: 22px;
    padding: 11px;
    color: white;
}

#s-cita {
    margin-top: 44px;
    margin-left: 30px;
    width: 129px;
    text-align: center;
}

.user {
    position: absolute;
    margin: auto;
    margin-top: 112px;
    width: 700px;
    margin-left: 30px;
    height: 349px;
    background-color: white;
    border-radius: 22px;
}

.img-user {
    position: absolute;
    background: whitesmoke;
    width: 170px;
    height: 170px;
    margin-top: 21px;
    margin-left: 20px;
    border-radius: 22px;
}

.user-info {
    margin-left: 200px;
}


.user p#name {
    margin-top: 21px;
    font-size: 26px;
    font-weight: 600;
}

.tags {
    position: absolute;
    margin-top: 25px;
    margin-left: 200px;
}
.tags p {
    background: rgba(60, 198, 99, 0.1);
    border-radius: 18px;
}
.linea {
    border: 1px solid #C6C5C5;
    margin-top: 138px;
}

/* --------------- Izq ----------------*/
.left {
    position: absolute;
    margin-left: 60px;
}

.soft {
    font-size: 14px;
    color: #C4C4C4;
}

/* ---------------- Derch ------------*/
.right {
    position: absolute;
    margin-left: 50%;
    margin-top: 10px;
}
.map {
    /* position: absolute; */
    width: 310px;
    height: 100px;
    background-color: #F1F1F1;
}
.full-screen {
    position: absolute;
    border-radius: 22px;
    background-color: #3CC663;
    text-align: center;
    margin-left: 15%;
    width: 70%;
    top: 88px;
    color: white;
}



.doctor {
    position: absolute;
    height: 214px;
    background: white;
    margin-top: 475px;
    margin-left: 30px;
    background-color: white;
    border-radius: 22px;
}

.doctor .btn{
    margin-left: 635px;
}

p#esp {
    color: #3CC663;
}


.historiaClinica.user {
    width: 600px;
    margin-left: 800px;
}
.tittle {
    margin-top: 22px;
    margin-left: 38px;
    font-size: 26px;
    font-weight: 600;
}
.historiaClinica p {
    margin-top: 30px;
    margin-left: 65px;
}

.notas {
    width: 600px;
    margin-left: 800px;
    background: #676565;
    color: white;
}

.notas p#text {
    margin-left: 38px;
    margin-top: 25px;
}
