<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendar cita</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li id="user-name"><a href="">Nombre de usuario</a></li>
        </ul>
    </nav>
    <main>
        <div class="calendar cont"></div>
        <div class="calendar-info cont"></div>
        <div class="comentario cont"></div>
    </main>
</body>
</html>