<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="login"> 
        <div id="left-login">
            <img src="{{ url_for('static', filename='img/hospital.jpg') }}" alt="">
        </div>
        <div id="right-login">
            <form action="/usuario" method="post" class="log">
                <h1>Iniciar sesión</h1>
                <p id="text-ingresar">Ingresa tus credenciales de acceso</p>
                <input type="number" name="id" id="id" placeholder="Documento de identidad" class="inpt">
                <input type="password" name="password" id="pass" placeholder="Contraseña" class="inpt">
                <button type="submit" class="button" id="button">Ingresar</button>
            </form>
            <p id="singup">¿No tienes cuenta? <a href="{{ url_for('register') }}">Registrate</a></p>
        </div>
    </div>
</body>
</html>