<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
</head>
<body>
    <div class="encabezado">
        <nav id="principal">
            <a href="{{ url_for('home') }}"><img src="" alt=""> Principal </a>
            <span>/ Perfil de Usuario</span>
        </nav>
        <nav>
            <ul id="Bienvenido" >
                <p id="Bienvenido-izq" >Bienvenido</p>
                <p  id="Bienvenido-der">Fabián Lozano</p>
            </ul>
        </nav>
    </div>

  
    <main>
        <a href="{{ url_for('agendar') }}"><p class="btn" id="s-cita">Solicitar cita</p></a>
        
        <div class="user">
    
            <p id="name" class="user-info">Fabián Lozano</p>
            <p id="edad" class="user-info">19 años</p>
            <p id="sexo" class="user-info">Masculino</p>
            <div id="telefono">
                <img id="phone" src="{{ url_for('static', filename='img/telefono.png') }}" alt="">
                <p class="user-info">3014603204</p>
            </div>
            <div id="email">
                <img id="emailLogo" src="{{ url_for('static', filename='img/email.png') }}" alt="">
                <p class="user-info">flozano@uninorte.edu.co</p>
            </div>
            <p id="date" class="user-info">10/12/2020</p>
        </div>

        <div class="historiaClinica">
            <div id="l1">
                <p class="tittle">Historia Clinica</p>
            </div>
            <div id="l2">
                <p>Fecha</p>
                <p>Motivo</p>
            </div>
            <div id="l3">
                <p>15/03/2021</p>
                <p>Diabetes</p>
            </div>
        </div>
        <div class="historiaCitas">
            <div id="l1">
                <p class="tittle">Historial de Citas</p>
            </div>
            

            <div id="linea2">
                <p>Fecha</p>
                <p>Hora</p>
                <p>Medico asignado</p>
                <p>Motivo</p>
            </div>
            <div id="linea3">
                <p>15/05/2021</p>
                <p>9:00</p>
                <p>Yexalen Lineros</p>
                <p>Diabetes</p>
            </div>

        </div>
            
        
      
    </main>
</body>
</html>