<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li id="user-name"><a href="">Nombre de usuario</a></li>
        </ul>
    </nav>
    <main>
        <a href="{{ url_for('agendar') }}"><p class="btn" id="s-cita">Solicitar cita</p></a>
        <div class="user">
            <div class="img-user">
                <img src="" alt="Foto de perfil del usuario">
            </div>
            <p id="name" class="user-info">Nombre de usuario</p>
            <p id="date" class="user-info">Fecha de ingreso</p>
            <div class="tags" class="user-info">
                <p>Masculino</p>
            </div>
            <hr class="linea">
            <div class="left">
                <p class="soft">Dirección</p>
                <p>123 Fake Av, Suit 245 <br />
                Barranquilla,<br />
                CP 080014</p>
                <div class="soft">Celular</div>
                <p>+57 0123456879</p>
            </div>
            <div class="right">
                <div class="map"></div>
                <div class="full-screen">
                    <p>Ver en pantalla completa</p>
                </div>
            </div>
        </div>
        <div class="historiaClinica user">
            <p class="tittle">Historia Clinica</p>
            <p>Diabetes</p>
            <p>Diabetes</p>
            <p>Diabetes</p>
        </div>
        <div class="doctor user">
            <div class="img-user">
                <img src="" alt="Foto de perfil del docotr">
            </div>
            <p id="name" class="user-info">Nombre de Doctor</p>
            <p id="date" class="user-info">Enfermero</p>
            <p class="btn">5.0</p>
        </div>
        <div class="notas doctor">
            <p class="tittle">Notas del medico para el paciente</p>
            <p id="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Error eaque, ratione debitis culpa distinctio corporis, 
                quisquam iusto, odio facere reiciendis laborum temporibus 
                dicta quasi. Consequatur cupiditate necessitatibus omnis 
                ducimus doloremque!</p>
        </div>
    </main>
</body>
</html>