<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de paciente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}" style="color: #74B9FF;"><img src="" alt=""> Principal </a>
        <span>/ Ingreso de Nuevo Medico</span>
    </nav>
    <main class="register">
        <header>
            <h1>Complete la siguiente información para activar su usuario</h1>
            <p id="adve">TODOS los campos son obligatorios *</p>
        </header>
        <hr class="linea">
        <section id="datos-g">
            <form action="" method="post">
                <p>Datos generales</p>
                <hr class="linea">
                <label for="name">Nombre completo</label>
                <br />
                <input type="text" name="name" placeholder="Nombre completo" id="name" class="inpt-reg" maxlength="40" required pattern="^[a-zA-ZÀ-ÿ\s]{1,40}$" title="No se permiten números">
                <br />
                <label for="tipo-id">Tipo de documento de identidad</label>
                <br />
                <select name="tipo-id" id="tipe-id" class="inpt-reg"required>
                    <option></option>
                    <option value="cc">Cedula de ciudadania</option>
                    <option value="ce">Cedula extranjera</option>
                    <option value="re">Registro civil</option>
                    <option value="ti">Tarjeta de identidad</option>
                    <option value="pa">Pasaporte</option>
                </select>
                <br />
                <label for="n-id">Número de documento</label>
                <br />
                <input type="number" name="n-id" id="n-id" placeholder="Número de documento" class="inpt-reg" minlength="5" required>
                <br />
                <label for="birthday">Fecha de nacimiento</label>
                <br />
                <input type="date" name="birthday" id="birthday" class="inpt-reg" required> 
                <br />
                <label for="genero">Género</label>
                <br />
                <select name="genero" id="genero" class="inpt-reg" required>
                    <option></option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    <option value="Otro">Otro</option>
                </select>
                <br />
                <label for="especialidad">Especialidad</label>
                <br />
                <select name="especialidad" id="especialidad" class="inpt-reg" required="">
                    <option></option>
                    <option value="Consulta externa">Consulta externa</option>
                    <option value="Especialista">Especialista</option>
                    <option value="Odontología">Odontología</option>
                    <option value="Pediatría">Pediatría</option>
                </select>
                <p>Contacto</p>
                <hr class="linea">
                <label for="email">Correo electronico</label>
                <br />
                <input type="email" name="email" id="email" class="inpt-reg"  required>
                <br />
                <label for="celular">Celular</label>
                <br />
                <input type="number" name="celular" id="celular" placeholder="Número de celular" class="inpt-reg" minlength="10" required>
                <p>Contraseña</p>
                <hr class="linea">
                <label for="pass">Contraseña</label>
                <input type="password" name="pass" id="pass" placeholder="Contraseña" class="inpt-reg"  alt="strongPass" required pattern="^.{4,12}$" title="Debe contener de 4 a 12 caracteres">
                <label for="pass2">Confirmar contraseña</label>
                <input type="password" name="pass2" id="pass2" placeholder="Confirmar contraseña" class="inpt-reg"  required pattern="^.{4,12}$" title="Debe contener de 4 a 12 caracteres">
                <br />
                <input type="submit" value="Registrar" class="button" onclick="checkpass()">
            </form>
        </section>
    </main>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>